:root {
    /* CORES DE FUNDO */
    --F.Branco: #FFFFFF;
    --F.Rosa-Claro: #EBE9F0;
    --F.Rosa-Escuro: #E9E5F0;
    --F.Méliuz: #FF3859;
    --F.Chrome: #C42841;
    --F.Estrela: #FFC400;
    --F.icon-Categorias: #68627A;
    /* FONTES, CORES E TAMANHOS */
    --Login: Nunito Sans, Regular, 16px, #68627A;
    --Cupons de desconto: Catamaran, Bold, 46px, #312B45;
    --O Méliuz te ajuda: Nunito Sans, Regular, 23px, #312B45;
    --Adiocionar ao Chrome: Nunito Sans, Regular, 13px, #FFFFFF;
    --10 Milhões: Nunito Sans, Regular, 13px, #312B45;
    --Janiel Cardoso: Nunito Sans, Regular, 16px, #2B2F45;
    --Depoimento: Nunito Sans, Regular, 16px, #2B2F45;
    --O que você ta esperando: Nunito Sans, Regular, 23px, #2B2F45;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", "Helvetica Neue", Calibre, Helvetica, Arial, sans-serif;
    /* SELETOR UNIVERSAL - Toda a Page*/
}


/*=-=-=-> TOPO <-=-=-=*/

header .container-lg {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 16px;
    padding-top: 16px;
    justify-content: space-between;
    /* 1º CONTAINER DO HEADER - Posições*/
}

header .logo {
    margin-left: 5px;
    /* LOGO - Recua 25% da esquerda*/
}

header .logo img {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 115px;
    /* LOGO IMAGEM - Tamanho, Posição e espaçamento das bordas*/
}

header .logcad {
    font-family: 'Nunito Sans';
    font-size: 16px;
    color: #68627A;
    box-sizing: border-box;
    display: block;
    align-items: center;
    /* LOGIN E CADASTRO - Tamanho, Posição e espaçamento das bordas*/
}

header .login {
    text-decoration: none;
    color: #68627a;
    font-size: 16px;
    padding: 15px 30px 15px 30px;
    align-items: center;
    border-width: 2px;
    border-radius: 24px;
    border: none;
    /* LOGIN - Tamanho, Posição e espaçamento das bordas*/
}

header .cadastrar {
    text-decoration: none;
    color: #68627a;
    font-size: 16px;
    padding: 15px 30px 15px 30px;
    align-items: center;
    border-width: 2px;
    border-radius: 24px;
    border: none;
    /*CADASTRO - Tamanho, Posição e espaçamento das bordas*/
}

header .logcad a:hover {
    background-color: #ebedf3;
    border-radius: 50px;
    transition: 200ms;
    /*LOGIN E CADASTRO - Efeito hover*/
}

header .container-cb {
    display: flex;
    align-items: initial;
    margin-top: 71px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 16px;
    padding-top: 16px;
    text-size-adjust: 100%;
    justify-content: space-between;
    /* 2º CONTAINER DO HEADER - Logo do CashBack e Textos*/
}

header .img-cb {
    display: block;
    margin-left: 10px;
    max-width: 100%;
    width: 1100px;
    padding-top: 45px;
    /* LOGO DINHEIRO DE VOLTA ATIVADO - Posições */
}

header .text-cashback {
    width: 100%;
    margin-left: 45px;
    /* TEXTO - Cupons de desconto e cashback em centenas de lojas online */
}

header .text-cb {
    display: block;
    align-items: initial;
    font-size: 46px;
    font-family: 'Catamaran', sans-serif;
    margin-right: 30px;
    line-height: 56px;
    color: #312b45;
    width: auto;
    /* TEXTO - Cupons de desconto e cashback em centenas de lojas online */
}

header .rodape-cb {
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 22px;
    font-family: 'Nunitu Sans', sans-serif;
    width: auto;
    /* TEXTO - O Méliuz te ajuda a encontrar as lojas e, com apenas um clique, você ativa o cashback na sua compra. */
}

header .chrome {
    color: white;
    background-color: #FF3859;
    border: none;
    border-radius: 32px;
    margin: 4px 2px;
    margin-bottom: 20;
    padding: 16px 32px;
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    /* BUTTON ADICIONAR AO CHROME */
}

header .chrome:not(:last-child) {
    border-bottom: none;
    /* BUTTON ADICIONAR AO CHROME  - borda none*/
}

header .chrome:hover {
    background-color: #C42841;
    transition-duration: 30ms;
    /* BUTTON ADICIONAR AO CHROME - Effect de transition-color */
}

header button i.fab {
    font-size: 18px;
    align-items: center;
    margin-right: 3px;
    /* ICONE DO CHROME NO BUTTON ADICIONAR AO CHROME */
}

header .icon-estrela {
    margin-top: 20px;
    /* ICONE ESTRELA - Distanciamento */
}

header .fa-star {
    color: #ffc400;
    margin: 2px;
    /* ICONE ESTRELA - Margem e Color */
}


/*----------------MEIO(INICIO)----------------*/

main {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2f0f7;
    padding: 45px 0;
}

main .first-comment,
main .second-comment,
main .third-comment {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    height: 360px;
}

main .second-comment {
    margin-left: 5px;
    margin-right: 5px;
}

main .comments-wrapper {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    text-size-adjust: 100%;
    justify-content: space-between;
}

main .comments-wrapper div {
    border-radius: 4px;
    background: #FFFFFF;
}

main .profile-area {
    display: flex;
    align-items: center;
}

main .profile-area p {
    margin-top: 20px;
    font-weight: bold;
    color: #2b2f45;
}

main .avatar {
    width: 48px;
    height: 48px;
    margin: 20px 10px 0 20px;
}

main .stars {
    color: #ffc400;
    margin: 20px 10px 20px 20px;
}

main .comment-content {
    color: #2b2f45;
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
    margin: 0 20px;
}

main .text-button-wrapper {
    color: #2b2f45;
    font-size: 25px;
    display: block;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 16px;
    padding-top: 16px;
}

main .esperando {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

main .chrome-but {
    padding-left: 35%;
    padding-top: 15px;
}

main .text-button-wrapper .button-area {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

main .chrome {
    color: white;
    background-color: #FF3859;
    border: none;
    border-radius: 32px;
    margin: 4px 2px;
    padding: 16px 32px;
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

main .chrome {
    border-bottom: none;
    transition: all 200ms linear;
}

main .chrome:hover {
    background-color: #C42841;
    transition: all 200ms linear;
}


/*------------------TRABALHANDO------------------*/

main .stores-wrapper {
    background: #E9E5F0;
}

main .stores-wrapper {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 71px;
    padding-bottom: 16px;
    padding-top: 16px;
}

main .stores-wrapper h2 {
    color: #2b2f45;
    font-family: Catamaran, Helvetica;
    position: relative;
}

main .stores-wrapper h2::after {
    content: "";
    width: 70px;
    height: 2px;
    background: var(--Padrão);
    position: absolute;
    bottom: -10px;
    left: 0;
}

main .stores-wrapper .stores {
    margin-top: 40px;
    display: flex;
}

main .stores-wrapper .stores li {
    list-style: none;
    display: inline-block;
}

main .stores-wrapper .stores nav li {
    color: #2b2f45;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 0;
}

main .stores-wrapper .stores nav li span {
    font-weight: bold;
}

main .stores-wrapper .stores nav li:hover {
    text-decoration: underline;
    cursor: pointer;
}

main .cat {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 71px;
    padding-bottom: 16px;
    padding-top: 16px;
}

main .categories-wrapper h2 {
    color: #2b2f45;
    font-family: Catamaran, Helvetica;
}

main .categories {
    margin-top: 40px;
}

main .categories {
    margin-top: 40px;
    display: flex;
}

main .categories-wrapper .categories nav li {
    font-size: 16px;
    line-height: 35px;
    color: #2b2f45;
    opacity: 0.9;
    cursor: pointer;
}

main .categories-wrapper .categories nav i {
    color: #2b2f2b;
    opacity: 0.5;
    cursor: pointer;
}

main .questions-wrapper {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 71px;
    padding-bottom: 16px;
    padding-top: 16px;
    flex-direction: column;
    list-style: none;
    background: #7a7a7a21;
    color: #2b2f45;
}

main .questions-wrapper h2 {
    font-family: Catamaran, Helvetica;
    width: auto;
    position: relative;
    margin-bottom: 30px;
}

main .questions-wrapper h2::after {
    content: "";
    width: 70px;
    height: 2px;
    background: var(--Padrão);
    position: absolute;
    bottom: -10px;
    left: 0;
}

main .questions-wrapper .questions-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .questions-wrapper .questions-area .questions-left-side,
main .questions-wrapper .questions-area .questions-right-side {
    width: 47%;
}

main .questions-wrapper h4 {
    margin-bottom: 15px;
}

main .questions-wrapper .description-question {
    margin-bottom: 30px;
}


/*----------------MEIO(FIM)----------------*/


/*----------------FUNDO(INICIO)----------------*/

footer .container-footer {
    display: flex;
    margin-top: 71px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 16px;
    padding-top: 16px;
}

footer .linha-sn {
    margin-left: auto;
    width: 100%;
    align-items: center;
}

footer .linha-cb {
    margin-left: auto;
    width: 100%;
    align-items: center;
}

footer .linha-tj {
    margin-left: auto;
    width: 100%;
    align-items: center;
}

footer .sobre,
.cb,
.tj {
    align-items: center;
    margin-bottom: 8px;
    font-size: 23px;
    font-family: Catamaran, "Helvetica Neue", Calibre, Helvetica, Arial, sans-serif;
}

footer p {
    margin-bottom: 10px;
    margin-left: 3px;
    align-items: center;
    text-align: left;
}

footer p:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer .fa-angle-right {
    color: var(--Padrão);
    font-size: 20px;
    align-items: center;
}

footer .cadastre-ls {
    color: #2b2f45;
    background-color: rgb(246, 246, 246);
    border-radius: 32px;
    margin: 4px 2px;
    margin-top: 6px;
    padding: 1px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

footer .cadastre-ls:not(:last-child) {
    border-bottom: none;
}

footer .cadastre-ls:hover {
    transition-duration: 300ms;
    border: 2px solid #2B2F45;
}

footer .container-footer2 {
    display: flex;
    margin-top: 71px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 16px;
    padding-top: 16px;
    /* 2º CONTAINER DO HEADER - Logo do CashBack e Textos*/
}

footer .container-footer2 p {
    text-decoration: none;
    cursor: auto;
    margin-bottom: 16px;
}

footer .section1,
.section2,
.section3 {
    margin-left: auto;
    width: 100%;
    align-items: center;
}

footer .button-ag {
    color: white;
    background-color: #FF3859;
    border: none;
    border-radius: 32px;
    margin: 4px 2px;
    padding: 4px 13px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    align-items: center;
}

footer .button-ag:not(:last-child) {
    border-bottom: none;
}

footer .button-ag:hover {
    background-color: #C42841;
    transition-duration: 31ms;
}

footer .playstore,
.apple {
    width: 130px;
    border-radius: 32px;
    margin-right: 10px;
}

footer .section3 i {
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
}

footer .container-footer3 {
    display: flex;
    margin-top: 71px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 16px;
    padding-top: 16px;
    align-items: ;
}

footer .section4 {
    width: 50%;
    align-items: center;
}

footer .section5 {
    width: 100%;
    align-items: center;
}

footer .logo-final {
    width: 90px;
}

footer .coracao {
    color: #c42841;
}

footer .section5 p {
    text-decoration: none;
    cursor: default;
}

footer .frasesinal {
    color: #68627a;
}

footer .local {
    color: #b3afc2;
}